@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="map"></div>

<script src="js/mapas.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=createMap" 
async defer></script>